<app-img-top></app-img-top>
<section>
    <div class="container-fluid">
      <div class="row text-center d-flex justify-content-center flex-row py-5">
        <h1 class="text-center display-4 text-dark" data-aos="flip-right">Programs</h1>
        <p class="col-12 font-larger" data-aos="fade-right">Here is our list of programs and things we do to help the youth</p>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-10 col-md-7 mx-auto">
          <h6 class="display-3 text-danger program-title" data-aos="flip-left"  >
            Education
          </h6>
          <p class="program-intro" data-aos="fade-up-right">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, adipisci.
          </p>
          <p data-aos="fade-up">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus fuga,
             vero ratione aut harum libero incidunt illum dignissimos rerum maxime, quod quo dolores quibusdam accusantium?
          </p>
        </div>
        <div data-aos="fade-up-left" class="col-sm-10 col-md-4 mx-auto program-img-left d-flex justify-content-center align-items-center" id="education">
            <h5 class="font-weight-bold display-4 text-white">
              Education
            </h5>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-10 col-md-4 mx-auto program-img-right d-flex justify-content-center align-items-center" id="murimi" >
          <h5 class="font-weight-bold display-4 text-white" data-aos="flip-right">
            Murimi Munhu
          </h5>
      </div>
        <div class="col-sm-10 col-md-7 mx-auto">
          <h6 class="display-3 text-danger program-title" data-aos="flip-right" >
            Murimi Munhu
          </h6>
          <p class="program-intro" data-aos="fade-up-left">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, adipisci.
          </p>
          <p data-aos="fade-up">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus fuga,
             vero ratione aut harum libero incidunt illum dignissimos rerum maxime, quod quo dolores quibusdam accusantium?
          </p>
        </div>

      </div>
      <hr>
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-10 col-md-7 mx-auto">
          <h6 class="display-3 text-danger program-title" data-aos="flip-left"  >
            Environmental conservation
          </h6>
          <p class="program-intro" data-aos="fade-up-left">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, adipisci.
          </p>
          <p data-aos="fade-up">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus fuga,
             vero ratione aut harum libero incidunt illum dignissimos rerum maxime, quod quo dolores quibusdam accusantium?
          </p>
        </div>
        <div class="col-sm-10 col-md-4 mx-auto program-img-left d-flex justify-content-center align-items-center" data-aos="fade-up-left" id="education">
            <h4 class="font-weight-bold display-4 text-right text-white">
              Environmental conservation
            </h4>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-10 col-md-4 mx-auto program-img-right d-flex justify-content-center align-items-center" id="murimi" data-aos="fade-up-left">
          <h5 class="font-weight-bold display-4 text-white" data-aos="flip-right">
            Health
          </h5>
      </div>
        <div class="col-sm-10 col-md-7 mx-auto" >
          <h6 class="display-3 text-danger program-title" data-aos="flip-left" >
            Health
          </h6>
          <p class="program-intro" data-aos="fade-up-left">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, adipisci.
          </p>
          <p data-aos="fade-up">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus fuga,
             vero ratione aut harum libero incidunt illum dignissimos rerum maxime, quod quo dolores quibusdam accusantium?
          </p>
        </div>

      </div>
    </div>
</section>

<section>
  <div class="container py-5">
    <div class="row d-flex justify-content-center flex-column align-items-center">
      <hr class="col-12">
        <p class="display-4 py-4" data-aos="zoom-in-up" >
          Got Some Questions
        </p>
        <div>

          <button class="btn btn-danger my-4" data-aos="zoom-in-up">
            Contact Us
          </button>
        </div>
    </div>
  </div>
</section>
