<section class="py-5">
    <div class="container">
        <div class="row text-center ">
            <p>admin blogs</p>
            <a  routerLink="/admin/admin-create-blog">Add Blog</a>
      </div>
      <!-- Testing shiiiit yangu -->
      <table class="table">
          <thead class="thead-dark">
              <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Content</th>
                  <th>Comments</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of blogList; let i=index">
                  <td>{{i+1}}</td>
                  <td>{{item.payload.doc.data().title}}</td>
                  <td>{{item.payload.doc.data().content}}</td>
                  <td>{{item.payload.doc.data().comments.length}}</td>
                  <td>
                      <button (click)="edit(item)">Edit</button>
                      <button (click)="delete(item)">Delete</button>
                  </td>
              </tr>
          </tbody>
      </table>
      <!-- Ended here to test the shiit -->
    </div>
</section>
  