<footer>
  <div class="container mt-4 pt-4" >
    <div class="row">
      <div class="col mx-auto">
        <h6 class="font-weight-bold"> Youth <span class="text-danger"> Wisdom </span> Foundation </h6>
        <hr class="border-light">
        <h6>Visit Us</h6>
        <address>

        </address>
      </div>
      <div class="col mx-auto">
        <h6>Quick Links</h6>
      </div>
      <div class="col mx-auto">
        <h6>Social Links</h6>
      </div>
    </div>
  </div>
</footer>
<section class="d-flex justify-content-center p-2" >
  <div class="small">
    Made with <i class="fa fa-heart fa-2x fa-fw text-danger"></i> by Lloyd E. Simango
</div>
</section>
