<nav class="fixed-top navbar-light scrolling-navbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-muted  py-0">
    <a href="" class="text-white">www.youthwisdom.org</a>
    <ul class="navbar-nav ml-auto nav-flex-icons py-0">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light py-0">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light py-0">
          <i class="fa fa-google-plus"></i>
        </a>
      </li>
  </ul>
  </nav>
  <!--Navbar -->
  <nav class="mb-1 mt-4 navbar navbar-expand-lg fixed-top navbar-light scrolling-navbar  bg-white" id="main_nav">

    <a class="navbar-brand pt-0 mt-0" data-aos="fade-right" routerLink="home" > <img src="assets/logo.png" alt="" style=""> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" data-aos="fade-down" id="navbarSupportedContent-333">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="home">Home
          <!-- <span class="sr-only">(current)</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="programs" >Programs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="finders">Our Pathfinders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <ng-container *ngIf="user; else elseTemplate">
        <li class="nav-item">
          <a class="nav-link" (click)="authService.SignOut()">Logout</a>
        </li>
      </ng-container>
      <ng-template #elseTemplate>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Login/Signin</a>
        </li>
      </ng-template>
      
      

    </ul>

</div>
</nav>
<!--/.Navbar -->

</nav>
