<section id="partners" class="bg-light ">
  <h5 data-aos="flip-left" class="font-weight-light text-center mb-0 py-3">
    These are some of our <span> partners</span>
  </h5>


<div class="container" >
<!-- Grid row -->
<div class="d-flex flex-row justify-content-between">

  <!-- Grid column -->
  <div class="col-sm-6 col-md-2 mb-3 mx-auto  ">
    <img src="assets/img/partner-1.jpeg" class="img-fluid shadow-none"
      alt="Responsive image">

  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <div class="col-sm-6 col-md-2 mb-3 mx-auto ">
    <img src="assets/img/partner-1.jpeg" class="img-fluid shadow-none"
      alt="Responsive image">

  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <div class="col-sm-6 col-md-2 mb-3 mx-auto ">
    <img src="assets/img/partner-1.jpeg" class="img-fluid  shadow-none"
      alt="Responsive image">

  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <div class="col-sm-6 col-md-2 mb-3 mx-auto ">
    <img src="assets/img/partner-1.jpeg" class="img-fluid shadow-none"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->
</div>

</section>
