<section class="py-5 bg-light">
  <div class="container">
    <!-- Testing shiiiit yangu -->
    <div class="row">
      <div class="col-sm-10 col-md-7 mx-auto">
        <div class="card shadow-none rounded-0">
          <div class="card-body"  >
            <h3 class="font-weight-bold">Reset <span>Password</span> </h3>

          <p class="golden-text">Please enter your email address to request a password reset.</p>

            <input
            class="form-control mb-3 rounded-0"
              type="email"
              placeholder="Email Address"
              #passwordResetEmail
              required
            />

            <!-- Calling ForgotPassword from AuthService Api -->
            <div>
              <input
              type="submit"
              class="btn btn-dark btn-block rounded-0  mb-3"
              value="Reset Password"
              (click)="authService.ForgotPassword(passwordResetEmail.value)"
              />
            </div>
            <div>
              <span>Go back to ? <a routerLink="/admin">Log In</a></span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Ended here to test the shiit -->
  </div>
</section>
