<section class="py-5">
    <div class="container">
      <!-- Testing shiiiit yangu -->
      <div>
        <div>
          <div>
            <h3>Reset Password</h3>
      
            <p>Please enter your email address to request a password reset.</p>
      
            <div>
              <input type="email"  placeholder="Email Address" #passwordResetEmail required>
            </div>
      
            <!-- Calling ForgotPassword from AuthService Api -->
            <div>
              <input type="submit" class="btn btn-primary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
            </div>
          </div>
      
          <div>
            <span>Go back to ? <a routerLink="/admin">Log In</a></span>
          </div>
      
        </div>
      </div>
      <!-- Ended here to test the shiit -->
    </div>
</section>
  