<app-header [title]="'Our Pathfinders'"></app-header>
<section class="py-5">
  <div class="container">
    <div class="row text-center ">
      <p class="golden-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas facilis fugit necessitatibus
      </p>
    </div>
    <div class="row py-5">
        <div class="col-sm-12 col-md-3">
          <img src="assets/img/avatas/pp.jfif" class="img rounded-circle img-thumbnail img-fluid border-danger" style="max-height: 10rem;"
          alt="">
        </div>
        <div class="col-sm-12 col-md-9">
          <h3 class="font-weight-bold text-shadow">
            Ronald <span> Murerekwa</span>
          </h3>
          <p class="text-dark">
            Ronald Murerekwa is a brand promoter who is behind the creation of Youth Wisdom Foundation (YWF) and also a passionate permaculturist. Having worked with various brands he has been exposed to the elite and the vulnerable populations including victims of early childhood pregnancies and marriages and also less privileged youths. Ronald and other youths found it necessary to uplift them through counselling, mentorship, provision of life-skills and volunteered their time to provide them with education and Sexual Reproductive Health and Human Rights Issues (SRHR).
          </p>
        </div>
    </div>
    <hr>
    <div class="row py-5">
      <div class="col-sm-12 col-md-9">
        <h3 class="font-weight-bold text-shadow">
          Tanaka Ryan<span> Murerekwa</span>
        </h3>
        <p class="text-dark">
          BSc Agronomy student at the Midlands state university his skills are believed to be sufficient in sustaining the agricultural initiatives as he volunteered to assist the youths in farming communities and rural areas by the organization.   </p>
      </div>
      <div class="col-sm-12 col-md-3">
        <img src="assets/img/avatas/tanaka.jpg" class="img rounded-circle img-thumbnail img-fluid border-danger" style="max-height: 10rem; max-width: 10rem;"
        alt="">
      </div>
  </div>
  </div>
</section>
