<app-header [title]="'Blog'"></app-header>
<section class="py-5">
    <div class="container">
        <div class="row text-center ">
            <p class="golden-text">
                blog works!
            </p>
        </div>
        <div class="row py-5" *ngFor="let item of allBlogs; let i=index">
            <div class="col-sm-12 col-md-3">
            <img src="assets/img/avatas/pp.jfif" class="img rounded-circle img-thumbnail img-fluid border-danger" style="max-height: 10rem;"
            alt="">
            </div>
            <div class="col-sm-12 col-md-9">
            <h3 class="font-weight-bold text-shadow">
                Ronald <span> Murerekwa</span>
            </h3>
            <p class="text-dark">
                {{item.payload.doc.data().content | slice:0:100}} <span><a class="btn btn-primary" (click)="readMore(item)">Read more</a></span>
            </p>
            <span>{{item.payload.doc.data().timeCreated | date}}</span>
            </div>
            <hr>
        </div>
        
    </div>
</section>

