<app-slider></app-slider>
<section id="partners" class="bg-light ">
  <h5 data-aos="flip-left" class="font-weight-light text-center mb-0 py-3">
    These are some of our <span> partners</span>
  </h5>


<div class="container" >
<!-- Grid row -->
<div class="d-flex flex-row justify-content-between">

  <!-- Grid column -->
  <div class="col-sm-6 col-md-2 mb-3 mx-auto  ">
    <img src="assets/img/partner-1.jpeg" class="img-fluid shadow-none"
      alt="Responsive image">

  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <div class="col-sm-6 col-md-2 mb-3 mx-auto ">
    <img src="assets/img/partner-1.jpeg" class="img-fluid shadow-none"
      alt="Responsive image">

  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <div class="col-sm-6 col-md-2 mb-3 mx-auto ">
    <img src="assets/img/partner-1.jpeg" class="img-fluid  shadow-none"
      alt="Responsive image">

  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <div class="col-sm-6 col-md-2 mb-3 mx-auto ">
    <img src="assets/img/partner-1.jpeg" class="img-fluid shadow-none"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->
</div>

</section>
<section id="about" class="bg-white">
  <div class="container py-5">
    <p class="golden-text text-center" data-aos="zoom-in-up">
      We are  non- profit-making organisation and we rely on volunteer contributions to carry out the limited activities that empower vulnerable youth including those living with disabilities.
    </p>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 mx-auto text-center">
        <h1 class="text-uppercase font-weight-bold pt-4" data-aos="flip-right">
         <span class="text-danger"> Who </span>are we
        </h1>
        <p data-aos="zoom-in-up">
          Youth Wisdom Foundation is an organisation which strives to educate the youth on various sustainable skills,
          environmental preservation and promote healthy lifestyles
        </p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 mx-auto text-center">
        <h3 class="text-uppercase" data-aos="flip-left">
          Vision
        </h3>
        <p data-aos="zoom-in-up">
          An empowering and enabling environment where vulnerable youths have access to sustainable tools for
          development.
        </p>
        <h3 class="text-uppercase text-danger" data-aos="flip-left">
          Mission
        </h3>
        <p data-aos="zoom-in-up">
          To become an impactful youth empowerment organisation in Zimbabwe and beyond by the year 2030.
        </p>
      </div>
    </div>
    <div class="row text-center">
      <ul class="list-group list-group-horizontal mx-auto nav-flex-icons py-0">
        <li class="list-group-item py-0 m-0 bg-transparent border-0" data-aos="fade-up-right">
          <a class="nav-link waves-effect waves-light py-0">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-group-item py-0 m-0 bg-transparent border-0" data-aos="fade-up">
          <a class="nav-link waves-effect waves-light py-0">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-group-item py-0 m-0 bg-transparent border-0" data-aos="fade-up">
          <a class="nav-link waves-effect waves-light py-0">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li class="list-group-item py-0 m-0 bg-transparent border-0" data-aos="fade-up-left">
          <a class="nav-link waves-effect waves-light py-0">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="bg-white">
  <div class="container py-5">
    <div class="row  text-center">
      <div class="col-12">

        <h1 class="font-weight-bold  text-uppercase text-center" data-aos="flip-right">
          our  <span class="text-danger"> programs</span>
        </h1>
        <hr class="col-12 border-ligh">
      </div>
      <div class="row row-cols-1 row-cols-md-4 px-2">
        <div class="col mb-4">
          <!-- Card -->
          <div class="card shadow-none rounded-0" data-aos="fade-up-right">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top rounded-0" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body py-1 px-1 ">

              <!--Title-->
              <h6 class=" h6-responsive">Education</h6>
              <!--Text-->
              <p class="text-justify pb-0 small">
                As YWF we are carrying out a STEM initiative called Knowledge Is Power (KIP) amongst the youths as
                 we believe that education is an enabler to achieve the rest of our objectives as a organisation.
                ...
              </p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-outline-danger btn-md btn-block rounded-0 shadow-none">Read more</button>

            </div>

          </div>
          <!-- Card -->
        </div>
        <div class="col mb-4">
          <!-- Card -->
          <div class="card shadow-none rounded-0" data-aos="fade-up" >

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top rounded-0" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body py-1 px-1 ">

              <!--Title-->
              <h6 class=" h6-responsive">Murimi Munhu</h6>
              <!--Text-->
              <p class="text-justify pb-0 small">
                Climate change has affected the farming patterns of Zimbabwe hence this
                has resulted in drought in various areas of the country. YWF is running a project initiative called Murimi Munhu,
                where by the
                ...
              </p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-outline-danger btn-md btn-block rounded-0 shadow-none">Read more</button>

            </div>

          </div>
          <!-- Card -->
        </div>
        <div class="col mb-4">
          <!-- Card -->
          <div class="card shadow-none rounded-0" data-aos="fade-up">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top rounded-0" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body py-1 px-1 ">

              <!--Title-->
              <h6 class=" h6-responsive">Environmental conservation</h6>
              <!--Text-->
              <p class="text-justify pb-0 small">
                YWF seeks to bring a balance in the ecosystem by advocating and providing sustainable tools to the youths.
                 We believe that man-made disasters and also
                human & wildlife conflict can be reduced through
                ...
              </p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-outline-danger btn-md btn-block rounded-0 shadow-none">Read more</button>

            </div>

          </div>
          <!-- Card -->
        </div>
        <div class="col mb-4">
          <!-- Card -->
          <div class="card shadow-none rounded-0" data-aos="fade-up-left">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top rounded-0" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body py-1 px-1 ">

              <!--Title-->
              <h6 class=" h6-responsive">Health</h6>
              <!--Text-->
              <p class="text-justify pb-0 small">
                After achieving most of our goals the beneficiaries need to live healthy lifestyles.
                 YWF is involved in a number of
                 initiatives which involve the youth, mainly which are HIV and Aids related.
                 SRHR issues are
                ...
              </p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-outline-danger btn-md btn-block rounded-0 shadow-none">Read more</button>

            </div>

          </div>
          <!-- Card -->
        </div>
      </div>
      <div class="col-12">

        <button class="btn btn-outline-danger" data-aos="fade-up">
          See All Programs
        </button>
      </div>
    </div>
  </div>
</section>
<app-events></app-events>
<app-contact></app-contact>
