<section class="py-5 d-flex justify-content-center align-items-centergit ">


  <!-- Default form login -->
<form class="col-sm-10 col-md-5 text-center border border-light p-5" action="#!">

  <h3 class="font-weight-bold">Sign <span> UP</span></h3>
  <p class="golden-text" >
    Continue by creating a new account
  </p>
  <!-- Email -->
  <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Email address"  #userEmail required>

  <!-- Password -->
  <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password"  #userPwd required>

  <!-- Sign in button -->
  <button class="btn btn-dark btn-block my-4" type="button"  (click)="authService.SignUp(userEmail.value, userPwd.value)">Sign up</button>

  <button  class="btn btn-danger btn-block"  (click)="authService.GoogleAuth()"><i class="fa fa-google "></i> oogle </button>

  <!-- Register -->
  <p>Already have an account?
    <a routerLink="/admin">Login</a>
  </p>


    <div class="d-flex justify-content-around">
        <div>
            <!-- Forgot password -->
            <a routerLink="/admin/forgot-password">Forgot password?</a>
        </div>
    </div>
  </form>
<!-- Default form login -->

</section>
