<section class="py-5">
    <div class="container">
        <div class="row text-center ">
            <p>dashboard</p>
      </div>
      <!-- Testing shiiiit yangu -->
      <div class="row">
        <div class="col-sm-6 col-md-3 mx-auto">
          <div class="card shadow-none rounded-0">
            <div class="card-body"  >
              <h3 class="font-weight-bold"><span>Blogs</span> </h3>
  
              <span><a routerLink="/admin/admin-blog">{{count}} Blogs</a></span>
              <!-- Calling ForgotPassword from AuthService Api -->
              <hr>
              <a  routerLink="/admin/admin-create-blog">Add</a>
              </div>
            </div>
          </div>
  
        </div>
      <!-- Ended here to test the shiit -->
    </div>
</section>
  