

<section class=" d-flex justify-content-center align-items-center p-3">


  <!-- Default form login -->
<div class="col-sm-10 col-md-5 text-center border border-light p-5">

  <h3 class="font-weight-bold">Sign <span> in</span></h3>
  <p class="golden-text" >
    You must login to continue to our blog
  </p>
  <!-- Email -->
  <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Username" #userName required>

  <!-- Password -->
  <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password"  #userPassword required>

  <!-- Sign in button -->
  <button class="btn btn-dark btn-block my-4" type="button"  (click)="authService.SignIn(userName.value, userPassword.value)">Sign in</button>

  <button  class="btn btn-danger btn-block"  (click)="authService.GoogleAuth()"><i class="fa fa-google "></i> oogle </button>

  <!-- Register -->
  <p>Not a member?
    <a routerLink="/admin/register">Register</a>
  </p>


    <div class="d-flex justify-content-around">
        <div>
            <!-- Forgot password -->
            <a routerLink="/admin/forgot-password">Forgot password?</a>
        </div>
    </div>
  </div>
<!-- Default form login -->


  </section>



